<h1>All Robots</h1>

<% @robots.each do |robot| %>
  <h3><%= robot.name %></h3>: <a href="/robots/<%= robot.name %>"><%= robot.name %></a></h3>
  <a href="/robots/<%= robot.name %>/edit">Edit</a>
  <form action="/robots/<%= robot.name %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
