<a href="/robots">Robot Index</a>

<img src="http://robohash.org/<%= @robot.avatar %>"
<div id="robot">
  <p><%= @robot.name %></p>
  <p><%= @robot.city %></p>
  <p><%= @robot.state %></p>
  <p><%= @robot.birthdate %></p>
  <p><%= @robot.date_hired %></p>
  <p><%= @robot.department %></p>
</div>
